header {
  text-align: center;
  background-image: url("http://i68.tinypic.com/rbjl9t.jpg");
  background-size: auto;
  background-repeat: round;
  width: 100%;
  height: 175px;
}

h1.titulo {
  padding-top: 50px;
  color: #f6efe6;
  text-transform: uppercase;
  text-shadow: 3px 2px #9a2d08;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-size: 40px;
  font-weight: bold;
}

p.principal {
  text-align: justify;
  font-style: normal;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

p.acompana {
  text-align: left;
  font-style: normal;
  font-size: 20px;
  font-family: Arial, sans-serif;
  padding-top: 95px;
}

table {
  text-align: center;
  padding: 3px;
  margin: 5px;
  border: 2px solid #37626b;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

img.imgsudoku {
  float: left;
  padding-right: 10px;
}

img.imgilustrativa {
  float: right;
  padding-left: 10px;
  z-index: -1;
}

a:link{
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: blue;
}

a:visited{
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: purple;
}
